<ul>
  <li> <%= link_to 'Study Modes', study_modes_path %> </li>
  <li> <%= link_to 'Study Streams', streams_path %> </li>
  <li> <%= link_to 'Course Levels', course_levels_path %> </li>
  <li> <%= link_to 'Course Levels', course_types_path %> </li>
</ul>