<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cert_authority_type.name %>
</p>

<%= link_to 'Edit', edit_cert_authority_type_path(@cert_authority_type) %> |
<%= link_to 'Back', cert_authority_types_path %>
